<ion-header>
  <ion-navbar>
    <ion-title>User[{{loginUser}}] information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let itemHeader of headerList; let i = index;" class="header">{{itemHeader}}</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of userList; let i = index;">
      <ion-col class="body">{{item.userName}}</ion-col>
      <ion-col class="body">{{item.password}}</ion-col>
      <ion-col class="body">{{item.userSex}}</ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <button ion-button color="secondary" (click)="playMedia();" icon-left>Play media</button>
    <button ion-button color="secondary" (click)="playVideo();" icon-right>Play video</button>

    <button ion-button color="secondary" block (click)="barcodeSc();">Barcode scanner</button>

    <button ion-button color="secondary" block (click)="sharing();">Social sharing</button>

    <button ion-button color="secondary" (click)="choosePhoto()" icon-left>Choose photo</button>

    <button ion-button color="secondary" (click)="chooseVideo()" icon-right>Choose video</button>
  </div>

  <ion-avatar text-center>
    <img [src]="profilePicture" style="margin: 5px auto;border-radius: 5% ;max-width: 70%; max-height: 30%" />
  </ion-avatar>

  <div padding>
    <button ion-button color="secondary" (click)="uploadFile()" icon-left>Upload file</button>
    <button ion-button color="secondary" (click)="downloadFile()" icon-right>Download file</button>
  </div>

  SVG:
  <div padding>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="190">
      <polygon points="100,10 40,180 190,60 10,60 160,180"
               style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;" />
    </svg>
  </div>

  Canvas:
  <div padding>
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #c3c3c3;">
    </canvas>
  </div>

  Chart Line:
  <div padding>
    <canvas #chartLine width="200" height="100"></canvas>
  </div>

  <div padding>
      Latitude : {{latitude}}
      Longitude : {{longitude}}

      <button ion-button color="secondary" (click)="getCurrentPosition()">Get current location</button>
  </div>

  <div id="myPageTop" padding>
    <table>
      <tr>
        <td>
          <label>请输入关键字：</label>
        </td>
      </tr>
      <tr>
        <td>
          <input id="autoInput" type="text"/>
        </td>
      </tr>
    </table>
  </div>
  <div id="map_container" class="map_container"></div>
</ion-content>
