<ion-header>
  <ion-navbar>
    <ion-title>User information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let itemHeader of headerList; let i = index;" class="header">{{itemHeader}}</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of userList; let i = index;">
      <ion-col class="body">{{item.userName}}</ion-col>
      <ion-col class="body">{{item.password}}</ion-col>
      <ion-col class="body">{{item.userSex}}</ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <button ion-button color="secondary" (click)="playMedia();" icon-left>Play media</button>
    <button ion-button color="secondary" (click)="playVideo();" icon-right>Play video</button>

    <button ion-button color="secondary" block (click)="barcodeSc();">Barcode scanner</button>

    <button ion-button color="secondary" block (click)="sharing();">Social sharing</button>

    <button ion-button color="secondary" (click)="choosePhoto()" icon-left>Choose photo</button>

    <button ion-button color="secondary" (click)="chooseVideo()" icon-right>Choose video</button>
  </div>

  <ion-avatar text-center>
    <img [src]="profilePicture" style="margin: 5px auto;border-radius: 5% ;max-width: 70%; max-height: 30%" />
  </ion-avatar>

  <div padding>
    <button ion-button color="secondary" (click)="uploadFile()" icon-left>Upload file</button>
    <button ion-button color="secondary" (click)="downloadFile()" icon-right>Download file</button>
  </div>
</ion-content>
